@import '/public/styles/constants/index.scss';

.calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 50px);

  &__header {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;

    &__cell {
      width: 13.4%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $light-grey;

      &.arrow-right,
      &.arrow-left {
        width: 3.1%;
        background: white;
        cursor: pointer;
      }

      &.arrow-left img {
        transform: rotate(180deg);
      }
    }
  }

  &__main {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;

    &__periods {
      width: 6.2%;
      display: flex;
      flex-direction: column;

      &__cell {
        min-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      :nth-child(even) {
        border-bottom: 1px solid $light-grey;
      }
    }

    &__day {
      width: 13.4%;
      display: flex;
      flex-direction: column;

      &__cell {
        position: relative;
        min-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        transition: background 0.5s;

        &:hover {
          background: #ffeded;
        }

        .event {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #98daff;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;

          &.start {
            border-radius: 5px 5px 0 0;
            z-index: 100;
          }

          &.single {
            border-radius: 5px;
            z-index: 100;
          }

          &.middle {
            border-radius: 0;
          }

          &.end {
            border-radius: 0 0 5px 5px;
          }
        }
      }

      :nth-child(even) {
        border-bottom: 1px solid $light-grey;
      }
    }
  }

  .modal {
    .hour-input {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      input {
        width: 74px;
      }
    }
  }
}
